In [249]:
import pandas as pd 
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException, ElementClickInterceptedException, ElementNotInteractableException
import time

In [182]:
from bs4 import BeautifulSoup
import requests

In [317]:
driver = webdriver.Chrome()

# Question 1

In [4]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [16]:
name=[]
artist=[]
upload_date=[] 
views=[]

In [17]:
name_tags = driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
for i in name_tags:
    name.append(i.text.split('"')[1])

artist_tags = driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[3]')
for i in artist_tags:
    artist.append(i.text)

views_tags = driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[4]')
for i in views_tags:
    views.append(i.text)

date_tags = driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]')
for i in date_tags:
    upload_date.append(i.text)

In [18]:
videos_df = pd.DataFrame({'Rank': range(1,31), 'Name': name, 'Artist': artist, 'Upload date': upload_date, 'Views': views})

In [20]:
videos_df

,Rank,Name,Artist,Upload date,Views
0,1,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.85
1,2,Despacito,Luis Fonsi,"January 12, 2017",8.16
2,3,Johny Johny Yes Papa,LooLoo Kids,"October 8, 2016",6.70
3,4,Bath Song,Cocomelon – Nursery Rhymes,"May 2, 2018",6.20
4,5,Shape of You,Ed Sheeran,"January 30, 2017",6.00
5,6,See You Again,Wiz Khalifa,"April 6, 2015",5.89
6,7,Phonics Song with Two Words,ChuChu TV,"March 6, 2014",5.30
7,8,Wheels on the Bus,Cocomelon – Nursery Rhymes,"May 24, 2018",5.24
8,9,Uptown Funk,Mark Ronson,"November 19, 2014",4.92
9,10,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018",4.89
10,11,Gangnam Style,Psy,"July 15, 2012",4.80
11,12,Masha and the Bear – Recipe for Disaster,Get Movies,"January 31, 2012",4.55
12,13,Dame Tu Cosita,El Chombo,"April 5, 2018",4.35
13,14,Axel F,Crazy Frog,"June 16, 2009",3.91
14,15,Sugar,Maroon 5,"January 14, 2015",3.87
15,16,Roar,Katy Perry,"September 5, 2013",3.80
16,17,Counting Stars,OneRepublic,"May 31, 2013",3.79
17,18,Sorry,Justin Bieber,"October 22, 2015",3.66
18,19,Baa Baa Black Sheep,Cocomelon – Nursery Rhymes,"June 25, 2018",3.64
19,20,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.60
20,21,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",3.59
21,22,Dark Horse,Katy Perry,"February 20, 2014",3.52
22,23,Lakdi Ki Kathi,Jingle Toons,"June 14, 2018",3.48
23,24,Faded,Alan Walker,"December 3, 2015",3.45
24,25,Perfect,Ed Sheeran,"November 9, 2017",3.45
25,26,Let Her Go,Passenger,"July 25, 2012",3.44
26,27,Girls Like You,Maroon 5,"May 31, 2018",3.42
27,28,Humpty the train on a fruits ride,Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.41
28,29,Lean On,Major Lazer,"March 22, 2015",3.38
29,30,Bailando,Enrique Iglesias,"April 11, 2014",3.38

# Question 2

In [30]:
driver.get('https://www.bcci.tv/')

In [31]:
driver.find_element(By.XPATH, '/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a').click()

In [37]:
series=[]
place=[]
date=[]
time=[]

In [38]:
series.append(driver.find_element(By.XPATH, '//h5[@class="match-tournament-name ng-binding"]').text)
date.append(driver.find_element(By.XPATH, '//div[@class="match-dates ng-binding"]').text)
time.append(driver.find_element(By.XPATH, '//div[@class="match-time no-margin ng-binding"]').text)
place.append(driver.find_element(By.XPATH, '//div[@class="match-place ng-scope"]').text)

In [41]:
fixture_df = pd.DataFrame({'Match title': 'Test match(IND VS AUS)', 'Series': series, 'Place': place, 'Date': date, 'Time': time})

In [42]:
fixture_df

,Match title,Series,Place,Date,Time
0,Test match(IND VS AUS),ICC WORLD TEST CHAMPIONSHIP FINAL 2023,"Final - Kennington Oval, London",7 JUN 2023,3:30 PM IST

# Question 3

In [44]:
driver.get('http://statisticstimes.com/')

In [46]:
driver.find_element(By.XPATH, '/html/body/div[2]/div[1]/div[2]/div[2]/button').click()
driver.find_element(By.XPATH, '/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]').click()

In [48]:
driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()

In [58]:
state=[]
gsdp1920=[]
gsdp1819=[]
share=[]
gdp=[]

In [59]:
for i in driver.find_elements(By.XPATH, '//div[@id="header"]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[2]'):
    state.append(i.text)

for i in driver.find_elements(By.XPATH, '//div[@id="header"]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[3]'):
    gsdp1920.append(i.text)

for i in driver.find_elements(By.XPATH, '//div[@id="header"]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[4]'):
    gsdp1819.append(i.text)

for i in driver.find_elements(By.XPATH, '//div[@id="header"]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[5]'):
    share.append(i.text)

for i in driver.find_elements(By.XPATH, '//div[@id="header"]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[6]'):
    gdp.append(i.text)

In [60]:
india_gdp_df = pd.DataFrame({'Rank': range(1,34), 'State': state, 'GSDP(18-19)- at current prices': gsdp1819, 
                             'GSDP(19-20)- at current prices': gsdp1920, 'Share(18-19)': share, 'GDP($ billion)': gdp})

In [61]:
india_gdp_df

,Rank,State,GSDP(18-19)- at current prices,GSDP(19-20)- at current prices,Share(18-19),GDP($ billion)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# Question 4

In [211]:
driver.get('https://github.com/')

In [212]:
try:
    driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/header/div/div[1]/div[2]/button').click()
except:
    pass

In [213]:
driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button').click()
driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a').click()

In [214]:
title=[]
desc=[]
lan=[]

In [215]:
cont=[]

In [216]:
for i in driver.find_elements(By.XPATH, '//article[@class="Box-row"]/h2'):
    title.append(i.text)

box = driver.find_elements(By.XPATH, '//article[@class="Box-row"]')
for n in box:
    if len(n.find_elements(By.XPATH, './/p[@class="col-9 color-fg-muted my-1 pr-4"]'))>0:
        desc_tag = n.find_elements(By.XPATH, './/p[@class="col-9 color-fg-muted my-1 pr-4"]')
        for i in desc_tag:
            desc.append(i.text)
    else:
        desc.append('-')

for n in box:
    if len(n.find_elements(By.XPATH, './/span[@itemprop="programmingLanguage"]'))>0:
        lan_tag = n.find_elements(By.XPATH, './/span[@itemprop="programmingLanguage"]')
        for i in lan_tag:
            lan.append(i.text)
    else:
        lan.append('-')

In [207]:
url=[]
for i in driver.find_elements(By.XPATH, '//article[@class="Box-row"]/h2/a'):
    url.append(i.get_attribute('href'))

In [208]:
for i in url:
    driver.get(i)
    time.sleep(3)
    try:
        driver.find_element(By.XPATH, '/html/body/div[1]/div[4]/div/main/div/nav/div/details/summary').click()
    except:
        pass
    driver.find_element(By.XPATH, '//a[@id="insights-tab"]').click()
    time.sleep(3)
    driver.find_element(By.XPATH, '//nav[@class="menu"]/a[2]').click()
    time.sleep(10)
    a=0
    for i in driver.find_elements(By.XPATH, '//span[@class="d-block Box"]'):
        a+=1
    cont.append(a)
    time.sleep(3)

In [231]:
cont_tags = driver.find_elements(By.XPATH, '//span[@class="d-inline-block mr-3"]')
for con in cont_tags:
    a=0
    for i in con.find_elements(By.XPATH, './/a[@class="d-inline-block"]'):
        a+=1
    cont.append(a)

In [234]:
github_df = pd.DataFrame({'Repository title': title, 'Repository description': desc, 'Contributors count': cont,
                          'Language used': lan})

In [235]:
github_df

,Repository title,Repository description,Contributors count,Language used
0,geohot / tinygrad,You like pytorch? You like micrograd? You love...,5,Python
1,artidoro / qlora,QLoRA: Efficient Finetuning of Quantized LLMs,5,Jupyter Notebook
2,ShishirPatil / gorilla,Gorilla: An API store for LLMs,4,Python
3,TheMCHK / WindowsXPKg,Windows XP keygen,1,C++
4,gptlink / gptlink,10分钟搭建自己可免费商用的ChatGPT环境，搭建简单，包含用户，订单，任务，付费等功能,5,PHP
5,SamurAIGPT / privateGPT,An app to interact privately with your documen...,2,JavaScript
6,xorvoid / sectorc,A C Compiler that fits in the 512 byte boot se...,2,C
7,vue-vine / vue-vine,Another style of writing Vue components.,4,TypeScript
8,freeCodeCamp / freeCodeCamp,freeCodeCamp.org's open-source codebase and cu...,5,TypeScript
9,microsoft / devicescript,TypeScript for Tiny IoT Devices,5,TypeScript
10,dolphin-emu / dolphin,"Dolphin is a GameCube / Wii emulator, allowing...",5,C++
11,Neo-Desktop / WindowsXPKg,Keygen for Windows XP,1,C++
12,neetcode-gh / leetcode,Leetcode solutions,5,JavaScript
13,CodinGame / SpringChallenge2023,https://www.codingame.com/contests/spring-chal...,3,Java
14,OpenGVLab / InternGPT,InternGPT (iGPT) is an open source demo platfo...,5,Python
15,xcanwin / KeepChatGPT,这是一个ChatGPT的畅聊与增强插件。开源免费。不仅能解决所有报错不再刷新，还有保持活跃、...,5,JavaScript
16,AbdullahAlfaraj / Auto-Photoshop-StableDiffusi...,A user-friendly plug-in that makes it easy to ...,5,JavaScript
17,massgravel / Microsoft-Activation-Scripts,A Windows and Office activator using HWID / KM...,2,Batchfile
18,Liuhong99 / Sophia,The official implementation of “Sophia: A Scal...,1,Python
19,ZeroMemoryEx / Blackout,kill anti-malware protected processes (BYOVD),1,C++
20,iperov / DeepFaceLive,Real-time face swap for PC streaming or video ...,5,Python
21,AUTOMATIC1111 / stable-diffusion-webui,Stable Diffusion web UI,5,Python
22,JushBJJ / Mr.-Ranedeer-AI-Tutor,A GPT-4 AI Tutor Prompt for customizable perso...,5,-
23,commaai / openpilot,openpilot is an open source driver assistance ...,5,Python
24,qbittorrent / qBittorrent,qBittorrent BitTorrent client,5,C++

# Question 5

In [253]:
driver.get('https://www.billboard.com/')

In [254]:
driver.find_element(By.XPATH, '/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a').click()

In [255]:
driver.find_element(By.XPATH, '/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a').click()

In [269]:
song_name=[]
artist_name=[]
lw_rank=[]
p_rank=[]
wob=[]

In [270]:
for i in driver.find_elements(By.XPATH, '//div[@class="pmc-paywall"]/div/div/div/div[2]/div/ul/li[4]/ul/li[1]'):
    song_name.append(i.text.split('\n')[0])
    artist_name.append(i.text.split('\n')[1])

for i in driver.find_elements(By.XPATH, '//div[@class="pmc-paywall"]/div/div/div/div[2]/div/ul/li[4]/ul/li[4]'):
    lw_rank.append(i.text)

for i in driver.find_elements(By.XPATH, '//div[@class="pmc-paywall"]/div/div/div/div[2]/div/ul/li[4]/ul/li[5]'):
    p_rank.append(i.text)

for i in driver.find_elements(By.XPATH, '//div[@class="pmc-paywall"]/div/div/div/div[2]/div/ul/li[4]/ul/li[6]'):
    wob.append(i.text)

In [276]:
top_songs_df = pd.DataFrame({'Song name': song_name, 'Artist name': artist_name, 'Last week rank': lw_rank,
                            'Peak rank': p_rank, 'Weeks on board': wob})

In [277]:
top_songs_df

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Last Night,Morgan Wallen,1,1,16
1,All My Life,Lil Durk Featuring J. Cole,-,2,1
2,Flowers,Miley Cyrus,3,1,18
3,Kill Bill,SZA,2,1,23
4,Ella Baila Sola,Eslabon Armado X Peso Pluma,4,4,9
...,...,...,...,...,...
95,Forever,Lil Baby Featuring Fridayy,87,8,19
96,Private Landing,Don Toliver Featuring Justin Bieber & Future,100,72,6
97,I Heard,YoungBoy Never Broke Again,-,98,1
98,Sunrise,Morgan Wallen,89,30,11
99,Happy,NF,95,54,6

# Question 6

In [278]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [280]:
book=[] 
author=[] 
volumes=[] 
publisher=[]
genre=[]

In [281]:
for i in driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[2]'):
    book.append(i.text)

for i in driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[3]'):
    author.append(i.text)

for i in driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[4]'):
    volumes.append(i.text)

for i in driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[5]'):
    publisher.append(i.text)

for i in driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[6]'):
    genre.append(i.text)

In [282]:
novels_df = pd.DataFrame({'Book name': book, 'Author name': author, 'Volumes sold': volumes,
                          'Publisher': publisher, 'Genre': genre})

In [283]:
novels_df

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Question 7

In [284]:
driver.get('https://www.imdb.com/list/ls095964455/')

In [285]:
name=[]
year_span=[]
genre=[]
run_time=[]
ratings=[]
votes=[]

In [288]:
for i in driver.find_elements(By.XPATH, '//div[@class="lister-list"]/div/div[2]/h3/a'):
    name.append(i.text)

for i in driver.find_elements(By.XPATH, '//div[@class="lister-list"]/div/div[2]/h3/span[2]'):
    year_span.append(i.text)

for i in driver.find_elements(By.XPATH, '//div[@class="lister-list"]/div/div[2]/p/span[5]'):
    genre.append(i.text)
    
for i in driver.find_elements(By.XPATH, '//div[@class="lister-list"]/div/div[2]/p/span[3]'):
    run_time.append(i.text)
    
for i in driver.find_elements(By.XPATH, '//div[@class="lister-list"]/div/div[2]/div/div[1]/span[2]'):
    ratings.append(i.text)

for i in driver.find_elements(By.XPATH, '//div[@class="lister-list"]/div/div[2]/p[4]/span[2]'):
    votes.append(i.text)

In [289]:
series_df = pd.DataFrame({'Name': name, 'Year span': year_span, 'Genre': genre, 'Run time': run_time,
                         'Ratings': ratings, 'Votes': votes})

In [290]:
series_df

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,163,514"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,243,275"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,027,752"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"302,322"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"261,436"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"51,699"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"63,736"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"207,740"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"43,229"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"258,403"

# Question 8

In [309]:
driver.get('https://archive.ics.uci.edu/')

In [310]:
driver.find_element(By.XPATH, '/html/body/table[2]/tbody/tr/td/span/b/a').click()

In [311]:
dataset_name=[]
data_type=[]
task=[]
attribute_type=[]
instances=[]
attribute=[]
year=[]

In [312]:
for i in driver.find_elements(By.XPATH, '//table[@border="1"]/tbody/tr/td/table/tbody/tr/td[2]'):
    dataset_name.append(i.text)

for i in driver.find_elements(By.XPATH, '//table[@border="1"]/tbody/tr/td[2]/p')[1:]:
    if i.text == ' ':
        data_type.append('-')
    else:
        data_type.append(i.text)
        
for i in driver.find_elements(By.XPATH, '//table[@border="1"]/tbody/tr/td[3]/p')[1:]:
    if i.text == ' ':
        task.append('-')
    else:
        task.append(i.text)
        
for i in driver.find_elements(By.XPATH, '//table[@border="1"]/tbody/tr/td[4]/p')[1:]:
    if i.text == ' ':
        attribute_type.append('-')
    else:
        attribute_type.append(i.text)
        
for i in driver.find_elements(By.XPATH, '//table[@border="1"]/tbody/tr/td[5]/p')[1:]:
    if i.text == ' ':
        instances.append('-')
    else:
        instances.append(i.text)
        
for i in driver.find_elements(By.XPATH, '//table[@border="1"]/tbody/tr/td[6]/p')[1:]:
    if i.text == ' ':
        attribute.append('-')
    else:
        attribute.append(i.text)
        
for i in driver.find_elements(By.XPATH, '//table[@border="1"]/tbody/tr/td[7]/p')[1:]:
    if i.text == ' ':
        year.append('-')
    else:
        year.append(i.text)

In [313]:
ml_df = pd.DataFrame({'Dataset name': dataset_name, 'Data type': data_type, 'Task': task,
                     'Attribute type': attribute_type, 'No. of instances': instances,
                     'No. of attribute': attribute, 'Year': year})

In [314]:
ml_df

,Dataset name,Data type,Task,Attribute type,No. of instances,No. of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,-
3,Anonymous Microsoft Web Data,-,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,-,Classification,-,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

# Question 9

In [321]:
driver.get('https://www.naukri.com/hr-recruiters-consultants')

In [322]:
search = driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input')
search.send_keys('Data science')

In [323]:
driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button').click()

In [337]:
name=[]
designation=[]
company=[]
skills=[]
location=[]

In [338]:
for i in driver.find_elements(By.XPATH, '//div[@id="tabP-1"]/div/div/div[1]/div[1]/p/a[1]'):
    name.append(i.text)

for i in driver.find_elements(By.XPATH, '//div[@id="tabP-1"]/div/div/div[1]/div[1]/p/span[1]'):
    designation.append(i.text)

for i in driver.find_elements(By.XPATH, '//div[@id="tabP-1"]/div/div/div[1]/div[1]/p/a[2]'):
    company.append(i.text)

for i in driver.find_elements(By.XPATH, '//div[@id="tabP-1"]/div/div/div[1]/div[2]'):
    skills.append(i.text)

information_tag = driver.find_elements(By.XPATH, '//div[@id="tabP-1"]/div/div/div[1]/div[1]/p')
for info in information_tag:
    if len(info.find_elements(By.XPATH, './/small[@class="ellipsis"]'))>0:
        for i in info.find_elements(By.XPATH, './/small[@class="ellipsis"]'):
            location.append(i.text)
    else:
        location.append('-')

In [339]:
ds_df = pd.DataFrame({'Name': name, 'Designation': designation, 'Company': company,
                      'Skills they hire for': skills, 'Location': location})

In [340]:
ds_df

,Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
14,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Deeparchi Sharma,Company Recruiter,ZIGRAM,"Research, Digital Marketing, Analytics, Softwa...",Gurgaon
27,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
28,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
29,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
30,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",-
31,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
32,Dhruv Dev Dubey,Company Recruitment Head,NETAPS FOUNDATION,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
33,Avnish Mishra,Senior Technical &amp; Corporate Recruiter,RMS Risk Management Solutions,"Data Science, Machine Learning, Deep Learning,...",Noida
34,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
35,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Hyderabad / Secunderabad
36,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
37,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
38,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
39,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
40,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
41,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
42,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
43,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
44,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
45,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
46,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
47,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
48,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
49,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai